name: Executar Monitoramento de Logs

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Instalar dependências
        run: |
          pip install pandas

      - name: Executar script de monitoramento
        run: |
          python monitor_logs.py

      - name: Fazer upload do arquivo de logs
        uses: actions/upload-artifact@v4
        with:
          name: logs-gerados
          path: logs_seguranca.csv
